<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: content">
<body>
<th:block th:replace="layout :: content(~{::body})" xmlns:th="http://www.thymeleaf.org"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
    <body>
    <h1>Build Your Salad</h1>

    <form action="#" method="post">

        <!-- Size -->
        <label>Size:</label>
        <select name="size">
            <option th:each="s : ${sizes}" th:value="${s}" th:text="${s}"></option>
        </select>
        <br><br>

        <!-- Green -->
        <label>Greens:</label>
        <select name="green">
            <option value="ARUGULA">Arugula</option>
            <option value="SPINACH">Spinach</option>
            <option value="LETTUCE">Lettuce</option>
        </select>
        <br><br>

        <!-- Regular Toppings -->
        <h3>Regular Toppings (included)</h3>
        <div th:each="t : ${regularToppings}">
            <label>
                <input type="checkbox" name="toppingNames" th:value="${t.name}">
                <span th:text="${t.name}"></span>
            </label><br>
        </div>

        <!-- Premium Toppings -->
        <h3>Premium Toppings (extra)</h3>
        <div th:each="t : ${premiumToppings}">
            <label>
                <input type="checkbox" name="toppingNames" th:value="${t.name}">
                <span th:text="${t.name}"></span>
            </label><br>
        </div>

        <br>

        <!-- Dressing -->
        <label>Dressing:</label>
        <select name="dressing">
            <option>Balsamic Vinaigrette and Honey</option>
            <option>Ranch and Yogurt</option>
            <option>Olive Oil with Lemon</option>
            <option>Caesar</option>
        </select>
        <br><br>

        <button type="submit">Add to Order</button>
    </form>

    </body>
</th:block>
</html>
