<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Create Taco</title></head>
<th:block th:replace="layout :: content(~{::body})" xmlns:th="http://www.thymeleaf.org">
    <body>
    <h1>Build Your Taco</h1>

<form method="post">

    <label>Size:</label>
    <select name="size">
        <option th:each="s : ${sizes}" th:value="${s}" th:text="${s}"></option>
    </select><br><br>

    <label>Shell:</label>
    <select name="shell">
        <option th:each="sh : ${shells}" th:value="${sh}" th:text="${sh}"></option>
    </select><br><br>

    <h3>Double Shell (+$1)</h3>
    <input type="checkbox" name="doubleShell">

    <h3>Regular Toppings (included)</h3>
    <div th:each="t : ${regularToppings}">
        <label><input type="checkbox" name="toppingNames" th:value="${t.name}"> <span th:text="${t.name}"></span></label><br>
    </div>

    <h3>Premium Toppings (extra)</h3>
    <div th:each="t : ${premiumToppings}">
        <label><input type="checkbox" name="toppingNames" th:value="${t.name}"> <span th:text="${t.name}"></span></label><br>
    </div>

    <br>
    <button type="submit">Add to Order</button>

</form>
</body>
</th:block>
</html>
